.mypage
  .mypage__field
    .mypage__field__image
    .mypage__field__content1
      .mypage__field__content1__nickname
        nickname
      .mypage__field__content1__like
        トータル
        %i.far.fa-heart
    .mypage__field__content2
      = link_to list_reviews_path,class: "mypage__field__content2__list" do
        %i.fas.fa-list
        レビュー一覧
      .mypage__field__content2__like-list
        %i.far.fa-heart
        いいね！した一覧
      .mypage__field__content2__configuration
        %i.fas.fa-cog
        設定
