.review-list
  .review-list__field
    .review-list__field__logo
      レビュー投稿一覧
    .review-list__field__list
      .review-list__field__list__content
        .review-list__field__list__content__name
          場所
        .review-list__field__list__content__like
          %i.far.fa-heart
        .review-list__field__list__content__image
      .review-list__field__list__content
        .review-list__field__list__content__name
          場所
        .review-list__field__list__content__like
          %i.far.fa-heart
        .review-list__field__list__content__image
      .review-list__field__list__content
        .review-list__field__list__content__name
          場所
        .review-list__field__list__content__like
          %i.far.fa-heart
        .review-list__field__list__content__image
      .review-list__field__list__content
        .review-list__field__list__content__name
          場所
        .review-list__field__list__content__like
          %i.far.fa-heart
        .review-list__field__list__content__image
      .review-list__field__list__content
        .review-list__field__list__content__name
          場所
        .review-list__field__list__content__like
          %i.far.fa-heart
        .review-list__field__list__content__image