.review-post{
  height: 1000px;
  width: 100%;
  color: #7b6459;
  &__box{
    width: 600px;
    margin: 0 auto;
    &__logo{
      height: 100px;
      text-align: center;
    }
    &__image{
      height: 300px;
      &__name{
        height: 50px;
        width: 200px;
        margin: 0 auto;
        text-align: center;
      }
      &__form{
        height: 250px;
        width: 600px;
        margin: 0 auto;
        background-color: #7b6459;
      }
    }
    &__title{
      height: 100px;
      
      &__name{
        height: 50px;
        width: 200px;
        margin: 0 auto;
        text-align: center;
      }
      &__form{
        height: 50px;
        width: 600px;
        margin: 0 auto;
      }
    }
    &__description{
      height: 200px;
      &__name{
        height: 50px;
        width: 200px;
        margin: 0 auto;
        text-align: center;
      }
      &__form{
        height: 150px;
        width: 600px;
        margin: 0 auto;
      }
    }
    &__place{
      min-height: 200px;
      max-height: 400px;
      &__name{
        height: 50px;
        width: 200px;
        margin: 0 auto;
        text-align: center;
      }
      &__form{
        min-height: 44px;
        max-height: 400px;
        width: 600px;
        margin: 0 auto;
        background-color: lightgoldenrodyellow;
        &__btn{
          position: relative;
          display: inline-block;
          font-weight: bold;
          padding: 12px 0 8px;
          text-decoration: none;
          color: #67c5ff;
          transition: .4s;
          &:before{
            position: absolute;
            content: '';
            width: 100%;
            height: 4px;
            top:100%;
            left: 0;
            border-radius: 3px;
            background:#67c5ff;
            transition: .2s;
          }
          &:after{
            position: absolute;
            content: '';
            width: 100%;
            height: 4px;
            top:0;
            left: 0;
            border-radius: 3px;
            background:#67c5ff;
            transition: .2s;
          }
          &:hover:before{
            top: -webkit-calc(100% - 10px);
            top: calc(100% - 10px);
          }
          &:hover:after{
            top: 10px;
          }
        }
        &__map{
          margin-top: 10px;
        }
      }
    }
    &__submit{
      height: 50px;
      width: 100px;
      margin: 50px auto;
      display: block;
      padding: 0.25em 0.5em;
      text-decoration: none;
      color: #FFF;
      background: #03A9F4;
      border: solid 1px #0f9ada;
      border-radius: 4px;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
      text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    }
  }
}
