.review-list{
  height: 100%;
  width: 100%;
  &__field{
    width: 1240px;
    margin: 0 auto;
    &__logo{
      height: 100px;
      line-height: 100px;
      font-size: 20px;
      text-align: center;
    }
    &__list{
      width: 980px;
      margin: 0 auto 150px;
      &__content{
        display: inline-block;
        height: 350px;
        width: 300px;
        margin: 0 0 10px 10px;
        border: 6px solid;
        border-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
        border-image-slice: 1;
        text-decoration: none;
        color: black;
        &__name{
          text-align: center;
          height: 25px;
        }
        &__like{
          float: right;
          height: 25px;
          margin-right: 10px;
          #no-click-like{
            color: #fc00ff;
          }
        }
        &__image{
          clear: both;
          &__display{
            display: block;
            min-height: 220px;
            max-height: 244px;
            min-width: 240px;
            max-width: 270px;
            text-align: center;
            margin: 10px auto;
            background-color: cornsilk;
            border: solid 2px rgb(255, 220, 253);
            border-radius: 4px;
          }
        }
      }
    }
  }
}