html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // background-color: #f5f5f5;
}

.header{
  height: 100px;
  width: 100%;
  // background-color: aquamarine;
  text-align: center;
  position: relative;
  &__rogo{
    line-height: 100px;
    display: inline-block;
    width: 200px;
    position: relative;
    padding: 0 55px;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: -0.05em;
    background: -webkit-linear-gradient(to right, #e5033e, #b701b5, #4a02c2);
    background: linear-gradient(to right, #e5033e, #b701b5, #4a02c2);
    mix-blend-mode: screen;
    color: #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &:before, &:after {
      content: '';
      position: absolute;
      top: 50%;
      display: inline-block;
      width: 45px;
      height: 2px;
      border-top: solid 1px black;
      border-bottom: solid 1px black;
    }
    &:before {
      left:0;
    }
    &:after {
      right: 0;
    }
  }
  &__log-out{
    height: 30px;
    position: absolute;
    top: 35px;
    right: 170px;
    line-height: 30px;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    transition: .4s;
    &:hover{
      background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
    }
  }
  &__sign-up{
    height: 30px;
    position: absolute;
    top: 35px;
    right: 170px;
    line-height: 30px;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    transition: .4s;
    &:hover{
      background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
    }
  }
  &__rogin{
    height: 30px;
    top: 35px;
    line-height: 30px;
    display: inline-block;
    position: absolute;
    right: 50px;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    transition: .4s;
    &:hover{
      background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
    }
  }
}
.main{
  height: 1000px;
  width: 100%;
  &__content1{
    height: 500px;
    &__rogo{
      height: 50px;
      text-align: center;
    }
    &__list{
      height: 400px;
      display: flex;
      justify-content: center;
      &__one{
        height: 350px;
        width: 20%;
        margin-left: 10px;
        border: 6px solid;
        border-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
        border-image-slice: 1;
        &__name{
          float: left;
        }
        &__like{
          float: right;
        }
        &__image{
          clear: both;
          height: 280px;
          width: 285px;
          background-color: black;
        }
      }
    }
  }
  &__content2{
    height: 500px;
    &__rogo{
      height: 50px;
      text-align: center;
    }
    &__list{
      height: 400px;
      display: flex;
      justify-content: center;
      &__one{
        height: 350px;
        width: 20%;
        margin-left: 10px;
        border: 6px solid;
        border-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
        border-image-slice: 1;
        &__name{
          text-align: center;
        }
      }
    }
  }
}
.hooter{
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  &__home{
    position: relative;
    height: 100px;
    width: 100px;
    color: #FFF;
    text-decoration: none;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
    transition: .4s;
    margin-left: 10px;
    margin-right: 20px;
    & i{
      line-height: 80px;
    }
    &__text{
      position: absolute;
      font-weight: 600;
      bottom: 14px;
      left: 26px;
    }
    &:hover{
      -webkit-transform: rotate(10deg);
      transform: rotate(10deg);
    }
  }
  &__search{
    position: relative;
    height: 100px;
    width: 100px;
    text-decoration: none;
    color: #FFF;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
    transition: .4s;
    margin-right: 20px;
    & i{
      line-height: 80px;
    }
    &__text{
      position: absolute;
      font-weight: 600;
      bottom: 14px;
      left: 30px;
      letter-spacing: 10px;
    }
    &:hover{
      -webkit-transform: rotate(10deg);
      transform: rotate(10deg);
    }
  }
  &__notification{
    position: relative;
    height: 100px;
    width: 100px;
    text-decoration: none;
    color: #FFF;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
    transition: .4s;
    margin-right: 20px;
    & i{
      line-height: 80px;
    }
    &__text{
      position: absolute;
      font-weight: 600;
      bottom: 14px;
      left: 30px;
      letter-spacing: 10px;
    }
    &:hover{
      -webkit-transform: rotate(10deg);
      transform: rotate(10deg);
    }
  }
  &__post{
    position: relative;
    height: 100px;
    width: 100px;
    text-decoration: none;
    color: #FFF;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
    transition: .4s;
    & i{
      line-height: 80px;
    }
    &__text{
      position: absolute;
      font-weight: 600;
      bottom: 14px;
      left: 20px;
    }
    &:hover{
      -webkit-transform: rotate(10deg);
      transform: rotate(10deg);
    }
  }
}