.hooter
  = link_to users_path,class: "hooter__home" do
    %i.fa.fa-home.fa-3x
    .hooter__home__text
      ホーム
  = link_to search_reviews_path,class: "hooter__search" do
    %i.fa.fa-search.fa-3x
    .hooter__search__text
      検索
  .hooter__notification
    %i.fas.fa-user-friends.fa-3x
    .hooter__notification__text
      フォロー
  = link_to new_review_path ,class: "hooter__post" do
    %i.far.fa-clipboard.fa-3x
    .hooter__post__text
      レビュー