.hooter
  = link_to users_path,class: "hooter__home" do
    %i.fa.fa-home.fa-3x
    .hooter__home__text
      ホーム
  .hooter__search
    %i.fa.fa-search.fa-3x
    .hooter__search__text
      検索
  .hooter__notification
    %i.far.fa-bell.fa-3x
    .hooter__notification__text
      通知
  = link_to new_review_path ,class: "hooter__post" do
    %i.far.fa-clipboard.fa-3x
    .hooter__post__text
      レビュー