.header
  .header__rogo
    spot-review
  .header__sign-up
    新規登録
  .header__rogin
    ログイン
.main
  .main__content1
    .main__content1__rogo
      Ranking
    .main__content1__list
      .main__content1__list__one
        .main__content1__list__one__name
          na
        .main__content1__list__one__like
          %i.far.fa-heart
        .main__content1__list__one__image
      .main__content1__list__one
      .main__content1__list__one
      .main__content1__list__one
  .main__content2
    .main__content2__rogo
      新着レビュー
    .main__content2__list
      .main__content2__list__one
        ka
      .main__content2__list__one
      .main__content2__list__one
      .main__content2__list__one
.hooter
  .hooter__home
    %i.fa.fa-home.fa-3x
    .hooter__home__text
      ホーム
  .hooter__search
    %i.fa.fa-search.fa-3x
    .hooter__search__text
      検索
  .hooter__notification
    %i.far.fa-bell.fa-3x
    .hooter__notification__text
      通知
  .hooter__post
    %i.far.fa-clipboard.fa-3x
    .hooter__post__text
      レビュー